VITE_CONTENTSTACK_API_KEY = <YOUR_API_KEY>
VITE_CONTENTSTACK_DELIVERY_TOKEN = <YOUR_DELIVERY_TOKEN>
VITE_CONTENTSTACK_ENVIRONMENT = <YOUR_ENVIRONMENT>

VITE_CONTENTSTACK_API_HOST= api.contentstack.io
VITE_CONTENTSTACK_MANAGEMENT_TOKEN = <YOUR_MANAGEMENT_TOKEN>
VITE_CONTENTSTACK_APP_HOST=app.contentstack.com
VITE_CONTENTSTACK_LIVE_PREVIEW=true
VITE_CONTENTSTACK_LIVE_EDIT_TAGS=false
